<div id="window">
    <div id="info">Twoje <b>grupy</b></div>
    <div >
        <table class="table">
          <tr id="frame3">
            <th>Nazwa</th>
            <th>Informacje dodatkowe</th>
            <th></th>
          </tr>
          <div id="space"></div>
          <tr *ngFor="let group of GroupList; let i = index" id="frame1">
              <td id="frameHover" (click)="checkGroup(group.GroupId)"><b>{{group.Name}}</b></td>
              <td id="frame2" (click)="checkGroup(group.GroupId)">{{group.Description}}</td>
            <td id="btnUser">
              <table>
                  <td id= "edit"><span class="glyphicon glyphicon-cog"> </span></td>
                  <td id="removeCicle" (click)="deleteGroup(group.GroupId)"> <span  class= "glyphicon glyphicon-remove-circle" > </span></td>
              </table>
            </td>
            <div id="space"></div>
          </tr>
        </table>
      </div>
    <div id="space"></div>
  </div>
