#window {
  margin-left: 2%;
  margin-right: 2%;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(243, 243, 243);
  border-radius: 5px;
  background-color: gainsboro;
}
#frame1 {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 20px;
  background-color: rgb(243, 243, 243);
  align-items: center;
  justify-content: center;
  font-family: Georgia;
  border-radius: 5px;
  cursor: pointer;
}

#frameHover :hover {
  color: gray;
  cursor: pointer;
}

#frame2 {
  font-size: 16px;
}

#center {
  font-size: 10px;
  width: 6%;
  margin-bottom: 0.2%;
}
#space{
  margin-bottom: 0.5%;
}


#info {
  background: dodgerblue;
  text-align: center;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: Georgia;
  font-size: 25px;
  padding: 1%;
}

#frame3 {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 20px;
  background: linear-gradient(rgb(176, 176, 176), rgb(229, 229, 229));
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: Georgia;
  border-radius: 5px;
}

#btnUser {
  display: inline-block;

}
#removeCicle {
  color: red;
  cursor: pointer;
  margin-right: 2%;
}

#removeCicle :hover{
  color: black;
  cursor: pointer;
  margin-right: 2%;
}

#edit :hover{
  color:gray;
  cursor: pointer;
}
