﻿@model System.Collections.Generic.List<KlaudiaGoraLab5.Models.Pizza>

@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

@Html.ActionLink("Dodaj pizze", "Add", null, new { @class = "btn btn-success" })

<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp.</th>
            <th>Nazwa</th>
            <th>Składniki</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pizza in Model)
        {
            <tr>
                <td>@pizza.Id</td>
                <td>@pizza.Name</td>
                <td>@pizza.Ingredients</td>
                <td>@Html.ActionLink("Edytuj", "Edit", new { id = pizza.Id }, new { @class = "btn btn-primary" })    @Html.ActionLink("Usuń", "Remove", new { id = pizza.Id }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </tbody>
</table>

<img src="https://da-mario-ristorante.skubacz.pl/shared_assets/images/backgrounds/pizza/1.jpg" width="80%" height="50%" />
<br>
<br>
<p>Oto filmik przedstawiający jak robi się u nas pizze.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/PVAlYtUqjhY" frameborder="0" allowfullscreen></iframe>