﻿@{
    ViewBag.Title = "Informacje";
}

<h2>Informacje</h2>

<p>
    <br> <font color="green">Pizzeria u Klaudii</font>
    <br> 
    <br> W maju 2017 roku otwarto we Wrocławiu nową pizzerię, w nowym budynku, na osiedlu Psie Pole.
Elegancki lokal jest oddalony od hałasu centrum. Znajduje się na spokojnym i pełnym zieleni osiedlu.
Dbamy o środowisko naturalne i jako pierwsi na świecie dowozimy pizzę samochodem o napędzie hybrydowym
Toyota Prius, idealnym do jazdy po mieście.
    <br> 
    <br> 
Przy projektowaniu wnętrza nowego lokalu wzięto pod uwagę wygodę klientów.
Projektant wnętrz zastosował najlepsze materiały oraz dobrał kolory wykończenia
mające wpływ na miłą i przytulną atmosferę w lokalu.
    <br> 
    <br> 
W lokalu jest odpowiednia liczba miejsc siedzących aby zorganizować np.
imieniny lub spotkanie towarzyskie. Wspólnie ze znajomymi można miło spędzić czas.
Klienci mogą korzystać z bezprzewodowego łącza internetowego.
Lokal i toalety są dostosowane do osób niepełnosprawnych.
Lokal posiada także klimatyzację.
    <br> 
    <br> 
W okresie letnim, na zewnątrz budynku, wystawiane są dodatkowe stoliki i parasole a posiłki
można spożywać na świeżym powietrzu w otoczeniu fontanny.
    <br> 
    <br> 
    <font color="red">!!UWAGA!!</font>
Uprzejmie informujemy, że wytwarzane przez nas posiłki zawierają produkty, które mogą wywołać alergie np:
owoce morza, jajka, owoce, pomidory, przyprawy, mąka, tabasco, jalapeno, ser żółty, soja, olej, mleko, orzechy.
W przypadku wątpliwości personel udzieli Państwu wszelkich informacji. 

</p>

<img src="https://da-mario-ristorante.skubacz.pl/shared_assets/images/backgrounds/pizza/1.jpg" width="80%" height="50%" />