﻿@{
    ViewBag.Title = "Kontakt";
}
<h2>Kontakt</h2>
<h3>Jeżeli masz jakieś pytania nie wachaj się i dzwoń.</h3>

<address>
    wybrzeże Stanisława Wyspiańskiego 27<br />
    50-370 Wrocław, POLAND<br />
    <abbr title="Telefon">Telefon: </abbr>
    675 647 534
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10020.099949874048!2d17.063281038482803!3d51.10799914062415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xb8f93f04c5c8d70f!2sPolitechnika+Wroc%C5%82awska!5e0!3m2!1spl!2spl!4v1463564515841" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<address>
    <strong>Addres:</strong>   <a href="mailto:Support@example.com">PizzauKlaudii@gmail.com</a><br />
</address>