﻿@{
    ViewBag.Title = "Strona głowna";
}

<h2><font color="red">Pizzeria</font>
    <font color="blue">u</font> 
    <font color="green">Klaudii</font>
    </h2>

<p>
    <br> <font color="green">Witamy serdecznie na stronie</font>
    <br>
    <br> Nasza pizza to połączenie najlepszych, naturalnych składników i ciasta o własnej recepturze.
Spróbuj jej, spróbuj chrupiących brzegów, dojrzałych pomidorów i prawdziwego salami.
    <br>
Jeśli nie jesteś przekonany wybierz z naszego menu jedną z klasycznych kompozycji.
Docenisz jej wyjątkowość od razu.
    <br>
Smak pizzy bierze się nie tylko z doboru pierwszorzędnych składników.
Ten smak to nasze doświadczenie w serwowaniu pizzy i uważne słuchanie waszych życzeń.
Dzięki temu pizza, którą wam serwujemy jest naszego wspólnego autorstwa. 
    <br>

</p>

<img src="https://da-mario-ristorante.skubacz.pl/shared_assets/images/backgrounds/pizza/1.jpg" width="80%" height="50%" />