#window {
  margin-left: 2%;
  margin-right: 2%;
  border: 2px solid rgb(243, 243, 243);
  border-radius: 5px;
  background-color: gainsboro;
}
#frame1 {
  width: 99%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-size: 20px;
  background: rgb(243, 243, 243);
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: Georgia;
  border-radius: 5px;
  overflow: hidden;
}

#frame3 {
  width: 99%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-size: 20px;
  background: linear-gradient(rgb(176, 176, 176), rgb(229, 229, 229));
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: Georgia;
  border-radius: 5px;
  overflow: hidden;
}

#div3 {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 33%;
  float:left;
}

#divlo {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 33%;
  float:left;
  font-size: 12px;
}

#frame1 :hover {
  color: gray;
  cursor: pointer;
}

#frame2 {
  font-size: 12px;
  text-align: center;
}

#frame2 :hover {
  color: black;
}
#center {
  font-size: 10px;
  width: 6%;
  margin-bottom: 0.2%;
}
#space{
  margin-bottom: 0.5%;
}

#info {
  background: dodgerblue;
  text-align: center;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: Georgia;
  font-size: 25px;
  padding: 1%;
}
