<div id="window">
  <div id="info">Twoje<b>spotkania</b></div>
  <div id="space"></div>
  <!--  <table class="table">
      <tr id="frame3">
        <th>Nazwa</th>
        <th>Data</th>
        <th>Lokalizacja</th>
      </tr>
      <div id="space"></div>
      <tr *ngFor="let event of EventsList" id="frame1" (click)="checkMeeting(event.EventId)">
        <td>{{event.Name}}</td>
        <td>{{event.EventDate}}</td>
        <td>{{event.Localization.Longitude}} <br> {{event.Localization.Latitude}}</td>
      </tr>
    </table>-->
    <div id="frame3">
      <div id="div3"><b>Nazwa</b></div>
      <div id="div3"><b>Data</b> </div>
      <div id="div3"><b>Lokalizacja</b> </div>
    </div>
    <div id="space"></div>
    <div id="frame1" *ngFor="let event of EventsList"  (click)="checkMeeting(event.EventId)">
      <div id="div3">{{event.Event.Name}}</div>
      <div id="div3">{{event.Event.EventDate}} </div>
      <div id="divlo">{{event.Event.Localization.Longitude}} <br> {{event.Event.Localization.Latitude}}</div>
      <div id="space"></div>
    </div>
    <div id="space"></div>

  <div id="space"></div>
</div>
