.form-control.ng-touched.ng-invalid{
  border: solid 2px red;
}

form{
  padding: 20px;
}

div.input label {
  position: absolute;
  top: 0;
  transform: translate(-50%);
  left: 10px;
  padding: 5px 2px;
}
