<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-2"></div>
  <div class="col-lg-4 col-md-4 col-sm-8">
    <form [formGroup]="form" (ngSubmit)="addSingleMeeting()">
      <label for="name">Nazwa</label>
      <input type="text" class="form-control" formControlName="name" id="name">
      <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
        <div *ngIf="name.errors.required">Nazwa jest wymagana.</div>
        <div *ngIf="name.errors.minlength">
          Nazwa powinna mieć co najmniej {{name.errors.minlength.requiredLength}} znaków.
        </div>
        <div *ngIf="name.errors.maxlength">
          Nazwa może skladać się z maksymalnie {{name.errors.maxlength.requiredLength}} znaków.
        </div>
      </div>
      <label for="description">Opis</label>
      <textarea name="description" id="description" cols="30" rows="3" class="form-control" formControlName="description"></textarea>
      <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
        <div *ngIf="description.errors.maxlength">
          Maksymalna dlugosc to {{description.errors.maxlength.requiredLength}} znaków.
        </div>
      </div>

      <label for="eventDate">Data</label>
      <input type="datetime-local" class="form-control" formControlName="eventDate" id="eventDate">
      <div class="alert alert-danger" *ngIf="eventDate.touched && eventDate.invalid">
        <div *ngIf="eventDate.errors.required">
          Data jest wymagana.
        </div>
        <div *ngIf="eventDate.errors.shouldBeInFuture">
          Data musi odnosić się do przyszlosci.
        </div>
      </div>
      <label for="eventDate">Dodaj lokalizację</label>
      <div class="form-group">
        <input [(ngModel)]="locationName" placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search formControl="searchControl">
      </div>
      <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChooseLocation($event)" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="'http://icons.iconarchive.com/icons/icons-land/vista-map-markers/72/Map-Marker-Marker-Outside-Azure-icon.png'"></agm-marker>
        <agm-info-window>
          <h3><strong>Lokalizacja</strong></h3>
          <p></p>
        </agm-info-window>
      </agm-map>
      <button *ngIf=!update class="btn btn-primary" [disabled]="form.invalid">Dodaj</button>
      <button *ngIf=update class="btn btn-primary" (click)="updateMeeting()">Edytuj</button>
    </form>
  </div>
</div>
