﻿@model System.Collections.Generic.List<KlaudiaGoraLab5.Models.Employee>

@{
    ViewBag.Title = "Pracownicy";
}

<h2>Nasi pracownicy</h2>

@Html.ActionLink("Dodaj pracownika", "Add", null, new { @class = "btn btn-success" })

<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp.</th>
            <th>Imieę</th>
            <th>Nazwisko</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Surname</td>
                <td>@Html.ActionLink("Edytuj", "Edit", new { id = employee.Id }, new { @class = "btn btn-primary" })    @Html.ActionLink("Usuń", "Remove", new { id = employee.Id }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </tbody>
</table>

<img src="http://niemcy.praca123.eu/wp-content/uploads/2014/06/602484-500x333.jpg" width="50%" height="50%" />