<div id="mainWindow">
  <div id="info">Witaj!</div>
  <div id="space"></div>
  <div id="addingInfo">
    <table *ngIf="checkToken()" class="table">
      <tr id="frame3">
        <th>Twoje ostatnio dodane spotkania</th>
      </tr>
      <tr *ngFor="let meeting of eventsList" id="frame1">
        <td (click)="checkMeeting(meeting.EventId)">
          {{meeting.Event.Name}}
        </td>
      </tr>
    </table>
    <br>
    <div *ngIf="checkToken()">
      Masz nowe powiadomienia!
    </div>
    <div *ngIf="!checkToken()">
      {{information}}
    </div>
  </div>
  <div id="space"></div>
</div>
