#mainWindow {
  margin-left: 2%;
  margin-right: 2%;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: rgb(212, 212, 212);
  font-family: Georgia;
  font-size: 25px;
}

#info {
  text-align: center;
  padding: 1%;
  color: white;
  background-color: dodgerblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#addingInfo {
  width: 96%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 15px;
  border-spacing: "5px";
  margin-left: 2%;
}

#space{
  margin-bottom: 3%;
}

#frame1 {
  width: 90%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 20px;
  background-color: rgb(243, 243, 243);
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: Georgia;
  border-radius: 5px;
}

#frame3 {
  width: 90%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 20px;
  text-align: center;
  background: linear-gradient(rgb(176, 176, 176), rgb(229, 229, 229));
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: Georgia;
  border-radius: 5px;
}

#frame1 :hover {
  color: gray;
  cursor: pointer;
}


