#mainWindow {
  margin-left: 2%;
  margin-right: 2%;
  border: 2px solid rgb(243, 243, 243);
  border-radius: 5px;
  background-color: rgb(212, 212, 212);
  font-family: Georgia;
  font-size: 25px;
}

#info {
  text-align: center;
  padding: 1%;
  color: white;
  background-color: dodgerblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#addingInfo {
 font-size: 15px;
 border-spacing: "5px";
 margin-left: 2%;
 text-align: center;
 font-size: 80%;
}

#space{
  margin-bottom: 3%;
}

#ital {
  font-style: italic;
}


