<div id="mainWindow">
  <div id="info">Jak korzystać z aplikacji</div>
  <div id="space"></div>
  <div id="addingInfo">
      <font color="red" size="2px"><b>UWAGA!</b><br>
        Rejestrując się wyrażamy zgodę na pobieranie przez google maps naszej obecnej lokalizacji, <br>
        która umożliwi dokonanie obliczeń oraz powiadomienie innych członków o miejscu naszego pobytu, albo możliwości spóźnienia</font><br>
        <br>
      <b>Aby korzystać z aplikacji należy posiadać konto, można je założyć w następujący sposób:</b>
      <br>
      <font size="3.5px">
      - &nbsp; klikając w "Zaloguj" znajdujące się w prawym górnym rogu <br>
      - &nbsp; nastęnie w "zarejestruj się" <br>
      - &nbsp; wypełniając wszystkie pola poprawnymi danymi <br>
      - &nbsp; zatwierdzając to kliknięciem w przycisk "Zarejestruj się" <br>
    </font>
      <!--<span><img src="" height="10%" width="10%"></span>-->
      <br>
      <br>
    <b>Funkcjonalnosci:</b> <br>
    <font size="3.5px">
        - &nbsp; dodawanie spotkań i grup<br>
        - &nbsp; edytowanie spotkań i grup - tylko jako założyciel<br>
        - &nbsp; dodawanie użytkowników do spotkań i grup<br>
        - &nbsp; usuwanie użytkowników ze spotkań i grup<br>
        - &nbsp; akceptowanie i odrzucanie zaproszeń na spotkania i grupy<br>
    </font>

  </div>
  <div id="space"></div>
</div>
