﻿@model KlaudiaGoraLab5.Models.Post

@{
    ViewBag.Title = "Edytuj";
}

<h2>Edytuj</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Body)
        @Html.TextBoxFor(m => m.Body, new { @class = "form-control" })
    </div>


    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-saved"></span> Edytuj</button>
}