﻿@model System.Collections.Generic.List<KlaudiaGoraLab5.Models.Post>

@{
    ViewBag.Title = "Posty";
}

<h2>Dodane Posty</h2>

@Html.ActionLink("Dodaj Post", "Add", null, new { @class = "btn btn-success" })

<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp.</th>
            <th>Tytuł</th>
            <th>Treść</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Id</td>
                <td>@post.Title</td>
                <td>@post.Body</td>
                <td>@Html.ActionLink("Edytuj", "Edit", new { id = post.Id }, new { @class = "btn btn-primary" })    @Html.ActionLink("Usuń", "Remove", new { id = post.Id }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </tbody>
</table>

<img src="https://avatars2.githubusercontent.com/u/3918710?v=3&s=200" width="40%" height="40%" />