<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-2"></div>
    <div class="col-lg-4 col-md-4 col-sm-8">
    <form [formGroup]="form" (ngSubmit)="register()">
      <div class="alert alert-danger" *ngIf="password.valid && confirmPassword.touched && form.errors?.passwordsShouldMatch">
        <div >Hasla powinny się zgadzać.</div>
      </div>
      <label for="firstName">Imię</label>
      <input
        formControlName="firstName"
        id="firstName"
        type="text"
        class="form-control">
      <div *ngIf="firstName.touched && firstName.invalid" class="alert alert-danger" >
        <div *ngIf="firstName.errors.required">Imię jest wymagane.</div>
      </div>


      <label for="lastName">Nazwisko</label>
      <input
        formControlName="lastName"
        id="lastName"
        type="text"
        class="form-control">
      <div *ngIf="lastName.touched && lastName.invalid" class="alert alert-danger" >
        <div *ngIf="lastName.errors.required">Nazwisko jest wymagane.</div>
      </div>

      <label for="email">Email</label>
      <input
        formControlName="email"
        id="email"
        type="text"
        class="form-control">
      <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
        <div *ngIf="email.errors.required">Email jest wymagany.</div>
        <div *ngIf="email.errors.email">Zly format.</div>
      </div>

      <label for="phoneNumber">Numer telefonu</label>
      <input
        formControlName="phoneNumber"
        id="phoneNumber"
        type="text"
        class="form-control">
      <div *ngIf="phoneNumber.touched && phoneNumber.invalid" class="alert alert-danger">
        <div *ngIf="phoneNumber.errors.pattern">Zly format.</div>
        <div *ngIf="phoneNumber.errors.required">Numer telefonu jest wymagany.</div>
      </div>

      <label for="password">Haslo</label>
      <input
        formControlName="password"
        id="password"
        type="password"
        class="form-control">
      <div *ngIf="password.touched && password.invalid" class="alert alert-danger" >
        <div *ngIf="password.errors.required">Haslo jest wymagane.</div>
        <div *ngIf="password.errors.pattern">Zly format.</div>
      </div>

      <label for="confirmPassword">Potwierdź haslo</label>
      <input
        formControlName="confirmPassword"
        id="confirmPassword"
        type="password"
        class="form-control">
      <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
        <div *ngIf="confirmPassword.errors.required">Potwierdź haslo.</div>
      </div>

      <button class="btn btn-primary" [class.disabled]="form.invalid" type="submit">Zarejestruj się</button>
    </form>

  </div>
  <div class="col-md-auto col-sm-auto"></div>
</div>
