#menu
{
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
  width: 100%;

  margin-right: 5px;
  font-size: 14px;
  background: #3e3ecc;
}

#menu li {
  list-style-type: none;
  margin: 0 auto;
  float: left;
}
#menu li#rg {
  list-style-type: none;
  margin: 0 auto;
  float: right;
}

#menu li:hover {
  color: grey;
}
#menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 14px 20px;
}

#menu li a:hover {
  color: grey;
  background-color: #3e3ecc;
}

#menu li ul {
  overflow: hidden;
  display: none;
  background: #3e3ecc;
}
#menu li:hover ul {
  position: absolute;
  padding: 0;
  display: block;
  width: 170px;
}



#window
{
  width: auto;
  height: 630px;
  margin-top: 10px;
  margin-left:auto;
  margin-right: auto;
}

#footer
{
  width: auto;
  margin-top: 1%;
  height: 10%;
  font-size: 10px;
  background-color: #3e3ecc;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color:white;
  font-size: 12px;
}



.form-inline {
    display: inline-block;
}
.navbar-header.col {
padding: 0 !important;
}
.navbar {
padding-left: 16px;
padding-right: 16px;
box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.nav-link img {
border-radius: 50%;
width: 36px;
height: 36px;
margin: -8px 0;
float: left;
margin-right: 10px;
}
.navbar .navbar-brand {
color: #555;
padding-left: 0;
padding-right: 50px;
font-family: 'Merienda One', sans-serif;
}
.navbar .navbar-brand i {
font-size: 20px;
margin-right: 5px;
}
.search-box {
    position: relative;
}
.search-box input {
box-shadow: none;
    padding-right: 35px;
    border-radius: 3px !important;
}
.search-box .input-group-addon {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 7px;
height: 100%;
}
.search-box i {

font-size: 19px;
}
.navbar .nav-item i {
font-size: 18px;
}
.navbar .dropdown-item i {
font-size: 16px;
min-width: 22px;
}
.navbar .nav-item.open > a {
background: none !important;
}
.navbar .dropdown-menu {
border-radius: 1px;

box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu li a {
padding: 8px 20px;
line-height: normal;
}
.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:active {
color: #333;
}
.navbar .dropdown-item .material-icons {
font-size: 21px;
line-height: 16px;
vertical-align: middle;
margin-top: -2px;
}
.navbar ul.nav li a.notifications, .navbar ul.nav li a.messages {
position: relative;
margin-right: 10px;
}
.navbar ul.nav li a.messages {
margin-right: 20px;
}
.navbar a.notifications .badge {
margin-left: -8px;
}
.navbar a.messages .badge {
margin-left: -4px;
}
.navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
background: transparent !important;
}
@media (min-width: 1200px){
.form-inline .input-group {
  width: 300px;
  margin-left: 30px;
}
}
@media (max-width: 1199px){
.form-inline {
  display: block;
  margin-bottom: 10px;
}
.input-group {
  width: 100%;
}
}


