<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-2"></div>
  <div class="col-lg-4 col-md-4 col-sm-8">
    <form [formGroup]="form" (ngSubmit)="login()">
      <label for="username">Login</label>
      <input
        formControlName="username"
        id="username"
        type="text"
        class="form-control">
      <div *ngIf="username.touched && username.invalid" class="alert alert-danger" >
        <div *ngIf="username.errors.required">Login jest wymagany.</div>
        <div *ngIf="username.errors.email">Zly format.</div>
      </div>

      <label for="password">Haslo</label>
      <input
        formControlName="password"
        id="password"
        type="password"
        class="form-control">
      <div *ngIf="password.touched && password.invalid" class="alert alert-danger" >
        <div *ngIf="password.errors.required">Haslo jest wymagane.</div>
        <div *ngIf="password.errors.pattern">Zly format.</div>
      </div>

      <button class="btn btn-primary" [class.disabled]="form.invalid" type="submit">Zaloguj się</button>
    </form>
    <div id="addingInfo">Nie posiadasz konta? <a [routerLink]="['registration']" (click)="registration()"> zarejestruj się </a></div>
  </div>
</div>
