#mainWindow {
  margin-left: 2%;
  margin-right: 2%;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: rgb(212, 212, 212);
  font-family: Georgia;
  font-size: 25px;
  text-align: center;
}

#info {
  text-align: center;
  padding: 1%;
  color: white;
  background-color: dodgerblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#addingInfo {
  font-size: 15px;

  border-spacing: "5px";
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

#space{
  margin-bottom: 3%;
}


#container1 {
  width: 48%;
  height: 450px;
  margin-left: 1%;
  margin-right: 1%;
  border: 2px dotted gray;
  display:flex;
  flex-direction:column;
  background-color: rgb(204, 196, 196);
  border-radius: 5px;
}

#container2 {
  width: 48%;
  height: 450px;
  border-radius: 5px;
  margin-left: 1%;
  margin-right: 1%;
  border: 2px dotted gray;
  display:flex;
  flex-direction:column;
}
