<div id="mainWindow">
    <div id="info">Lokalizacja użytkownika ...</div>
    <div id="space"></div>
    <div id="addingInfo">
      <div id="container1">
        Lokalizacja
      </div>
      <div id="container2">
        Mapka
      </div>
    </div>
    <div id="space"></div>

  </div>
