<div id="window">
  <div id="info">Twoje zaproszenia do wydarzeń</div>
      <div id="frame3">
          <div id="div3"><b>Nazwa</b></div>
          <div id="div3"><b>Zaprosił/ła cię:</b> </div>
      </div>
      <div id="space"></div>
      <div id="frame1" *ngFor="let invite of invitesListEvents">
            <div id="div3">{{invite.Event.Name}}</div>
            <div id="div3">{{invite.Sender.FirstName}}</div>
            <div id="divx">
              <button class="btn btn-success btn-sm" id="btnAcc" (click)="acceptInviteEvent(invite.Event.EventId, invite.EventInviteId)"><img src="https://www.materialui.co/materialIcons/action/done_white_2048x2048.png" height="20px" width="20px"></button>
              <button class="btn btn-danger btn-sm" (click)="deleteInviteEvent(invite.Event.EventId, invite.EventInviteId)">&nbsp; x &nbsp;</button>
            </div>
      </div>
      <div id="space"></div>
</div>

   <!--<table class="table">
      <tr id="frame3">
        <th>Nazwa</th>
        <th>Zaprosił/ła cię:</th>
        <th></th>
      </tr>
      <div id="space"></div>
      <tr id="frame1" *ngFor="let invite of invitesListEvents">
        <td id="frameHover">
          <b>{{invite.Event.Name}}</b>
        </td>
        <td id="frameHover">
          <b>{{invite.Sender.FirstName}}</b>
        </td>
        <td>
          <table align="right">
            <td>
              <button class="btn btn-success btn-sm" id="btnAcc" (click)="acceptInviteEvent(invite.Event.EventId, invite.EventInviteId)">Akceptuj</button>
            </td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="deleteInviteEvent(invite.Event.EventId, invite.EventInviteId)">Odrzuć</button>
            </td>
          </table>
        </td>
        <div id="space"></div>
      </tr>
    </table>-->
<br><br><br>
<div id="window">
  <div id="space"></div>
  <div id="info">Twoje zaproszenia do grup</div>
  <div id="frame3">
      <div id="div3"><b>Nazwa</b></div>
      <div id="div3"><b>Zaprosił/ła cię:</b> </div>
  </div>
  <div id="space"></div>
  <div id="frame1" *ngFor="let invite of invitesListGroups">
        <div id="div3">{{invite.Group.Name}}</div>
        <div id="div3">{{invite.Sender.FirstName}}</div>
        <div id="divx">
        <button class="btn btn-success btn-sm" id="btnAcc" (click)="acceptInviteGroup(invite.Group.GroupId, invite.GroupInviteId)"><img src="https://www.materialui.co/materialIcons/action/done_white_2048x2048.png" height="20px" width="20px"></button>
         <!-- <img src="https://cdn0.iconfinder.com/data/icons/large-glossy-icons/512/Apply.png" height="20px" width="20px"> <img src="http://clipart-finder.com/data/mini/remove.png" height="20px" width="20px">-->
        <button class="btn btn-danger btn-sm" id="btnX" (click)="deleteInviteGroup(invite.Group.GroupId, invite.GroupInviteId)">&nbsp; x &nbsp;</button>
        </div>
  </div>
  <div id="space"></div>
</div>
    <!--<table class="table">
      <tr id="frame3">
        <th>Nazwa</th>
        <th>Zaprosił/ła cię:</th>
        <th></th>
      </tr>
      <div id="space"></div>
      <tr id="frame1" *ngFor="let invite of invitesListGroups">
        <td id="frameHover">
          <b>{{invite.Group.Name}}</b>
        </td>
        <td id="frameHover">
          <b>{{invite.Sender.FirstName}}</b>
        </td>
        <td>
          <table align="right">
            <td>
              <button class="btn btn-success btn-sm" id="btnAcc" (click)="acceptInviteGroup(invite.Group.GroupId, invite.EventInviteId)">Akceptuj</button>
            </td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="deleteInviteGroup(invite.Group.GroupId, invite.EventInviteId)">Odrzuć</button>
            </td>
          </table>
        </td>
        <div id="space"></div>
      </tr>
    </table>-->

