#window {
  margin-left: 2%;
  margin-right: 2%;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(243, 243, 243);
  border-radius: 5px;
  background-color: gainsboro;
}
#frame1 {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 20px;
  background-color: rgb(243, 243, 243);
  align-items: center;
  justify-content: center;
  font-family: Georgia;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}
#div3 {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 33%;
  float:left;
}

#divBtn {
  width: 50%;
  float:left;
}

#divx {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 33%;
  float:left;
  text-align: right;
}

#btnX {
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif
}
#frameHover :hover {
  color: gray;
  cursor: pointer;
}

#frame2 {
  font-size: 16px;
}

#center {
  font-size: 10px;
  width: 6%;
  margin-bottom: 0.2%;
}
#space{
  margin-bottom: 0.5%;
}


#info {
  background: dodgerblue;
  text-align: center;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: Georgia;
  font-size: 25px;
  padding: 1%;
}

#frame3 {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 20px;
  background: linear-gradient(rgb(176, 176, 176), rgb(229, 229, 229));
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: Georgia;
  border-radius: 5px;
  overflow: hidden;
}


.btn-primary:hover{
  background-color: rgb(219, 214, 245) !important;
}

