<div id="mainWindow">
  <div id="info">
    <h2>
      Informacje o <b>grupie</b>
    </h2>
      {{Informations}}
    <br><br><br><br>
    <!--<button class="btn btn-primary btn-xs">Edytuj grupę</button>-->
    <button class="btn btn-primary btn-xs" [routerLink]="['addUserGroup']" (click)="saveInLocal()">Dodaj użytkownika</button>
   <!-- <button class="btn btn-primary btn-xs">Dodaj spotkanie</button>-->
  </div>

<div id="windowFrame" >
  <div id="windowUsers">
      <b>Członkowie</b>
  </div>
  <div id="frame3">
      <div id="div3"><b>Imię i Nazwisko</b></div>
      <div id="div3"><b>Email</b> </div>
  </div>
  <div id="space"></div>
  <!--<div id="frame1" *ngFor="let user of Users">-->
  <div id="frame1" *ngFor="let user of Users">
        <div id="div3">{{user.FirstName}} {{user.LastName}}</div>
        <div id="div3">{{user.Email}}</div>
        <div id="divx"><button class="btn btn-danger btn-xs" (click)="deleteUser(user.Id)">&nbsp;x&nbsp;</button></div>
  </div>
  <div id="space"></div>
  <!--<div id="infUs">
      <table class="table">
          <tr id="frame3">
            <th></th>
            <th>Imię i Nazwisko</th>
            <th>Email</th>
            <th>Numer telefonu</th>
            <th></th>
          </tr>
          <tr  id="frame1">
            <td>
              <img src="https://www.teksteshqip.com/img_upz/allart_full/63351.jpg" height="50" width="50">
            </td>
            <td>{{user.FirstName}} {{user.LastName}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.PhoneNumber}}</td>
            <td >
              <table align="right">
                <tr><button class="btn btn-danger btn-xs">x</button></tr>
              </table>
            </td>
          </tr>
        </table>-->
</div>
