#mainWindow {
  margin-left: 2%;
  margin-right: 2%;
  border: 2px solid rgb(243, 243, 243);
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: gainsboro;
}
#info{
  background-color:dodgerblue;
  height: 10%;
  padding: 1%;
  width: auto;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

#windowFrame {
  margin:1%;
  width: 98%;
  border: 2px solid gray;
  border-radius: 5px;
}

#frame3 {
  width: 99%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-size: 20px;
  background: linear-gradient(rgb(176, 176, 176), rgb(229, 229, 229));
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: Georgia;
  border-radius: 5px;
  overflow: hidden;
}

#infUs {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

#windowUsers {
  width: 100%;
  text-align: center;
  font-size: 150%;
  color:white;
  background-color: gray;
  align-items: center;
  justify-content: center;
  font-family: Georgia;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1%;
  display: inline-block;
}

#div3 {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 33%;
  float:left;
}

#divx {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 33%;
  float:left;
  text-align: right;
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif
}

#center {
  width: 100px;
  text-align: center;
  font-size: 10px;
  color: black;
}

#frame1 {
  width: 99%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-size: 20px;
  background: rgb(243, 243, 243);
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: Georgia;
  border-radius: 5px;
  overflow: hidden;
}

#frame1 :hover {
  color: gray;
  cursor: pointer;
}

#spaceCol{
  border-spacing: 2mm;
}

#space{
  margin-bottom: 0.5%;
}


#btnUser {
  display: inline-block;

}
#removeCicle {
  color: red;
  cursor: pointer;
  margin-right: 2%;
}

#removeCicle :hover{
  color: black;
  cursor: pointer;
  margin-right: 2%;
}

#edit :hover{
  color:gray;
  cursor: pointer;
}

.btn-primary{
  background-color: grey !important;

}
.btn-primary:hover{
  background-color: rgb(219, 214, 245) !important;
  color: black;
}
