<div id="mainWindow">
  <div id="info">Informacje</div>
  <br>
  <br>
  <div id="texxt">
      Aplikacji powstała w celu ułatwienia predykcji spóźnień osobom umówiającym się na spotkania.<br>
      Posiada następujące funkcjonalności:<br>
      - umawianie się na spotkania dowolnej liczby osób<br>
      - odczyt danych z GPS w telefonie i predykcja czasu dotarcia na spotkanie <br>
      - powiadamianie o spotkaniach, na które osoba znajdując się w swojej lokalizacji może się spóźnić, jeśli od razu nie wyruszy <br>
      - powiadamianie innych uczestników spotkania o możliwości spóźnienia się danej osoby <br>
      <br>
      Projekt realizowany z firmą:  &nbsp; &nbsp;&nbsp; <img src="http://www.broadgateleeds.co.uk/wp-content/uploads/2015/07/capgemini.png" height="5%" width="5%">
      <br>
      <br>
  </div>

</div>
