<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-2"></div>
    <div class="col-lg-4 col-md-4 col-sm-8">
   <!-- <form [formAddUser]="form" (ngSubmit)="addUserToGroup()">
      <label for="name">Użytkownik</label>
      <input type="text"
        class="form-control"
        formControlName="nameUser"
        id="name">
      <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
        <div *ngIf="name.errors.required">Nazwa jest wymagana.</div>
      </div>
      <button class="btn btn-primary" [disabled]="form.invalid">Dodaj</button>
    </form> -->
    <label for="name">Użytkownik</label>
    <input type="text"
      class="form-control"
      id="name"
      [(ngModel)]="Email.Email">
      <button (click)="addUser()" class="btn btn-primary btn-sm">Dodaj użytkownika</button>
  </div>
  </div>
