<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-2"></div>
    <div class="col-lg-4 col-md-4 col-sm-8">
    <form [formGroup]="form" (ngSubmit)="addGroup()">
      <label for="name">Nazwa</label>
      <input type="text"
        class="form-control"
        formControlName="name"
        id="name">
      <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
        <div *ngIf="name.errors.required">Nazwa jest wymagana.</div>
        <div *ngIf="name.errors.minlength">
          Nazwa powinna mieć co najmniej {{name.errors.minlength.requiredLength}} znaków.
        </div>
        <div *ngIf="name.errors.maxlength">
          Nazwa może skladać się z maksymalnie {{name.errors.maxlength.requiredLength}} znaków.
        </div>
      </div>
      <label for="description">Opis</label>
      <textarea name="description"
        id="description" cols="30" rows="3"
        class="form-control"
        formControlName="description"></textarea>
      <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
        <div *ngIf="description.errors.maxlength">
          Maksymalna dlugosc to {{description.errors.maxlength.requiredLength}} znaków.
        </div>
      </div>

      <button class="btn btn-primary" [disabled]="form.invalid">Dodaj</button>
    </form>
  </div>
</div>
