<div class="container">
  <h1>Podaj swoją obecną pozycję</h1>
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search formControl="searchControl">
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChooseLocation($event)" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="'http://icons.iconarchive.com/icons/icons-land/vista-map-markers/72/Map-Marker-Marker-Outside-Azure-icon.png'"></agm-marker>
    <agm-info-window>
      <h3><strong>Lokalizacja</strong></h3>
      <p></p>
    </agm-info-window>
  </agm-map>

  <!--<h3>Mapka pokazująca trasę</h3>
  <button type="button" (click)="getDirection()">Pokaż</button>
  <div>
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
    </agm-map>
  </div>-->
  <button type="button" class="btn btn-danger" (click)="getDirection()">Rysuj trasę na mapie</button>

<agm-map [latitude]="lat" [longitude]="lng">
  <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
</agm-map>


<p>Wybierz srodek lokomocji</p>
<mat-radio-group class="example-radio-group" [(ngModel)]="transport">
  <mat-radio-button class="example-radio-button" *ngFor="let radioButton of radioButtons" [value]="radioButton.meanOfTransport">
    <mat-icon>{{radioButton.icon}}</mat-icon>
  </mat-radio-button>
</mat-radio-group>
<br>
Wybrany sposob transportu: {{transport}}
<p>Czas pokonania drogi: {{ this.byroadtime }}</p>
<p>Dystans: {{ this.byroaddistance }}</p>

<br>
</div>
<button type="button" class="btn btn-danger" (click)="getGoogleMapsRequest()"> Licz </button>
<button type="button" class="btn btn-danger" (click)="getCurrentPosition()">Wyswietl obecną pozycję w konsoli</button>
<button type="button" class="btn btn-info" (click)="timeDifference()"> Roznica czasu</button>



