<div id="mainWindow">
  <div id="info">
    <h2>
      <b>Informacje o spotkaniu:</b>
      <br> {{informations}}
      <br> {{dateDisplay}}
    </h2>

    <br>
    <br>
    <button class="btn btn-primary btn-xs" [routerLink]="['/addMeeting', meetingInfo.EventId]">Edytuj spotkanie</button>
    <button class="btn btn-primary btn-xs" [routerLink]="['addUserMeeting']" (click)="saveInLocal()">Dodaj użytkownika</button>

  </div>

  <div id="windowFrame">
    <div id="windowUsers"> <b>Członkowie</b> </div>
    <div id="frame3">
        <div id="div3"><b>Imię i Nazwisko</b></div>
        <div id="div3"><b>Numer telefonu</b> </div>
        <div id="div3"><b>Czas spóźnienia</b> </div>
    </div>
    <div id="space"></div>
    <div id="frame1" *ngFor="let user of Users">
          <div id="div3">{{user.ApplicationUser.FirstName}} {{user.ApplicationUser.LastName}}</div>
          <div id="div3">{{user.ApplicationUser.PhoneNumber}}</div>
          <div id="div3"> {{delayh}} godz {{delaym}} min</div>
          <!--<div id="divx"><button class="btn btn-danger btn-xs">&nbsp;x&nbsp;</button></div>-->
    </div>
    <div id="space"></div>
    </div>
  </div>

  <!-- <table class="table">
        <tr id="frame3">
          <th>Imię i Nazwisko</th>
          <th>Numer telefonu</th>
          <th>Czas spóźnienia</th>
          <th></th>
        </tr>
        <tr id="frame1" *ngFor="let user of Users">
          <td>{{user.FirstName}} {{user.LastName}}</td>
          <td>{{user.PhoneNumber}}</td>
          <td>{{delay}}</td>
          <td id="btnUser">
            <table>
              <tr>
                <td id="edit">
                  <span class="glyphicon glyphicon-cog"></span>
                </td>
                <td>
                  <span id="spaceCol"> </span>
                </td>
                <td id="removeCicle">
                  <span class="glyphicon glyphicon-remove-circle"></span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>-->
