<nav (click)="checkToken()" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]=""><i [routerLink]="['startPage']" class="fa fa-home"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" [class.show]="menuExpanded"
        (mouseenter)="toggleDropdown('menu', true)" (mouseleave)="toggleDropdown('menu', false)">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">
            Menu
          </a>
          <div class="dropdown-menu" [class.show]="menuExpanded" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['infoAuthors']">Informacje</a>
            <a class="dropdown-item" [routerLink]="['howToUse']">Korzystanie z aplikacji</a>
          </div>
        </li>

        <li *ngIf="checkToken()" class="nav-item dropdown" [class.show]="eventsExpanded"
        (mouseenter)="toggleDropdown('events', true)" (mouseleave)="toggleDropdown('events', false)">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Spotkania
          </a>
          <div class="dropdown-menu" [class.show]="eventsExpanded" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['meetings']" >Więcej</a>
            <a class="dropdown-item" [routerLink]="['addMeeting']">
              <i class="fa fa-plus"></i>
              Dodaj spotkanie
            </a>
          </div>
        </li>

        <li *ngIf="checkToken()" class="nav-item dropdown" [class.show]="groupsExpanded"
        (mouseenter)="toggleDropdown('groups', true)" (mouseleave)="toggleDropdown('groups', false)">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Grupy
          </a>
          <div class="dropdown-menu" [class.show]="groupsExpanded" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['groups']">Więcej</a>
            <a class="dropdown-item" [routerLink]="['addGroup']"><i class="fa fa-plus"></i> Dodaj grupę</a>
          </div>
        </li>
        <li *ngIf="checkToken()">
          <a class="nav-link" role="button" [routerLink]="['allinvites']">
            Zaproszenia
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!checkToken()" class="nav-item">
          <a class="nav-link" [routerLink]="['login']"><i class="fa fa-user"></i>
            Zaloguj
            <span class="sr-only">
              (current)
            </span>
          </a>
        </li>
        <li *ngIf="checkToken()" class="nav-item">
          <a class="nav-link" (click)="logOut()"><i class="fa fa-user"></i>
            Wyloguj
            <span class="sr-only">
              (current)
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
