@media (min-width: 992px){
  .navbar li {
      margin-left : 5px;
      margin-right : 10px;
  }
}

.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {
  min-height:32px !important;
  max-height: 50px !important;
}

.navbar-nav > li > a> i.fa{padding-top:10px !important; padding-bottom:5px !important;}

.navbar-collapse.collapse.show{
  margin-left: -16px !important;
  padding-left: 10px;
  background-color: white;
  z-index: 1;
}

.navbar .dropdown-menu {
  margin-top: 0px;
 }

 .avatar{
  border-radius: 100%;
}
